<%- include('../header') %>

    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <form class="form-horizontal" method="post" action="/exsubcategory/insertexsubcategory">
                            <div class="card-body">
                                <h4 class="card-title">Add Exsubcategory</h4>
                                <div class="form-group row">
                                    <label for="fname"
                                        class="col-sm-3 text-right control-label col-form-label">Category</label>
                                    <div class="col-sm-9">
                                        <select name="category" id="category" onchange="categoryRecord()"
                                            class="form-control">
                                            <option value="">---select category---</option>
                                            <% category.map((cat,index)=>{ %>
                                                <option value="<%= cat?.id %>">
                                                    <%= cat?.category %>
                                                </option>
                                                <% }) %>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="fname"
                                        class="col-sm-3 text-right control-label col-form-label">Subcategory</label>
                                    <div class="col-sm-9">
                                        <select name="subcategory" id="subcategory" class="form-control">
                                            <option value="">---select subcategory---</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="fname"
                                        class="col-sm-3 text-right control-label col-form-label">Exsubcategory</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="exsubcategory" class="form-control"
                                            placeholder="Exsubcategory Name Here">
                                    </div>
                                </div>

                            </div>
                            <div class="border-top">
                                <div class="card-body">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript">
        const categoryRecord = () => {
            let categoryid = document.getElementById('category').value;
            $.ajax({
                type: "GET",
                url: `/exsubcategory/ajaxcategorywiserecord?categoryId=${categoryid}`,
                success: function (res) {
                    let subcategory = res.subcategory;

                    let tbl = "";
                    tbl += `<option value="">---select subcategory---</option>`
                    subcategory.map((cat, index) => {
                        tbl += `<option value='${cat?._id}'>${cat?.subcategory}</option>`
                    })
                    document.getElementById('subcategory').innerHTML = tbl

                }
            })
        }
    </script>
    <%- include('../footer') %>