<nav class="navbar navbar-expand-lg py-4" style="background-color:rgba(165, 71, 16, 0.87)">
    <div class="container d-flex align-items-center justify-content-between">
        <!-- Brand and Box -->
        <div class="d-flex align-items-center">
            <!-- Box with Image -->
            <div class="box me-3" style="width: 50px; height: 50px; border-radius: 5px; overflow: hidden;">
                <img src="../img/popcorn.png" alt="Logo" style="width: 100%; height: 100%; object-fit: cover;">
            </div>
            <!-- Brand Name -->
            <a class="navbar-brand text-light" href="/" style="font-weight: 800; font-size: 40px;">PopcornTime</a>
        </div>
        
        <!-- Navigation -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item px-2">
                    <a class="btn btn-outline-light fs-5 px-4 py-2" href="/" style="font-size: 20px; font-weight: 700; border-width: 3px;">Home</a>
                </li>
                <li class="nav-item px-2">
                    <a class="btn btn-outline-light fs-5 px-4 py-2" href="/add"  style="font-size: 20px; font-weight: 700; border-width: 3px;">Your Movie </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
